. {
    width:100%;
    margin-bottom:var(--spacer);
}
.tray {
    display:flex;
    width:100%;
    min-height:40px;
}
.container {
    display:flex;
    flex:1 0;
    flex-wrap:wrap;
    border:1px solid var(--text-color);
    padding-bottom:var(--spacerhalf);
}
.tray BUTTON {
    height:40px;
    background-color:var(--item-elevated);
}
.control {
    display:flex;
    flex-direction: column;
    flex:20px 0;
    text-align: center;
    align-items: center;
    border:1px solid var(--text-color);
    margin-left:-1px;
    font-size:20px;
}
.control:hover {
    background-color:var(--page-action);
    cursor:pointer;
}
.item {
    display:inline-block;
    border:1px solid var(--text-color);
    border-radius:8px;
    background-color:var(--page-selected);
    font-size:.9em;
    padding:var(--spacerquarter) var(--spacerhalf);
    margin:var(--spacerhalf) var(--spacerhalf) 0 var(--spacerhalf);
    white-space: nowrap;
}
.item:hover {
    background-color:var(--page-action);
    cursor:pointer;
}

